{% extends 'base.html.twig' %}



{% block content %}
    <main>
        <section>    
            <h1>Dessins</h1>
            <div class="slidershow-btn">
                <button class="prev" onclick="plusSlides(-1)">&#10094;</button>
                <button class="next" onclick="plusSlides(1)">&#10095;</button>
            </div>
            
            <div class="slidershow">

                <div class="projets">
                    <img src="" alt="">
                    <h3>Nom de l'artiste1</h3>
                    <p>Nom du projet1</p>
                    <div class="description-hiden">
                        <p>description du projet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum voluptatem quae at, consequuntur accusamus aut nisi? Nesciunt odit minima delectus.</p>
                    </div>
                </div>

                <div class="projets">
                    <img src="" alt="">
                    <h3>Nom de l'artiste2</h3>
                    <p>Nom du projet2</p>
                    <div class="description-hiden">
                        <p>description du projet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum voluptatem quae at, consequuntur accusamus aut nisi? Nesciunt odit minima delectus.</p>
                    </div>
                </div>

                <div class="projets">
                    <img src="" alt="">
                    <h3>Nom de l'artiste3</h3>
                    <p>Nom du projet3</p>
                    <div class="description-hiden">
                        <p>description du projet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum voluptatem quae at, consequuntur accusamus aut nisi? Nesciunt odit minima delectus.</p>
                    </div>
                </div>

                <div class="projets">
                    <img src="" alt="">
                    <h3>Nom de l'artiste4</h3>
                    <p>Nom du projet4</p>
                    <div class="description-hiden">
                        <p>description du projet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum voluptatem quae at, consequuntur accusamus aut nisi? Nesciunt odit minima delectus.</p>
                    </div>
                </div>

                <div class="projets">
                    <img src="" alt="">
                    <h3>Nom de l'artiste5</h3>
                    <p>Nom du projet5</p>
                    <div class="description-hiden">
                        <p>description du projet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum voluptatem quae at, consequuntur accusamus aut nisi? Nesciunt odit minima delectus.</p>
                    </div>
                </div>

            </div>
        </section>
        <section>    
            <h1>Tatouage</h1>
            <div class="slidershow-btn">
                <button class="prev" onclick="plusSlides(-1)">&#10094;</button>
                <button class="next" onclick="plusSlides(1)">&#10095;</button>
            </div>

            <div class="slidershow">

                <div class="projets">
                    <img src="" alt="">
                    <h3>Nom de l'artiste1</h3>
                    <p>Nom du projet1</p>
                    <div class="description-hiden">
                        <p>description du projet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum voluptatem quae at, consequuntur accusamus aut nisi? Nesciunt odit minima delectus.</p>
                    </div>
                </div>

                <div class="projets">
                    <img src="" alt="">
                    <h3>Nom de l'artiste2</h3>
                    <p>Nom du projet2</p>
                    <div class="description-hiden">
                        <p>description du projet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum voluptatem quae at, consequuntur accusamus aut nisi? Nesciunt odit minima delectus.</p>
                    </div>
                </div>

                <div class="projets">
                    <img src="" alt="">
                    <h3>Nom de l'artiste3</h3>
                    <p>Nom du projet3</p>
                    <div class="description-hiden">
                        <p>description du projet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum voluptatem quae at, consequuntur accusamus aut nisi? Nesciunt odit minima delectus.</p>
                    </div>
                </div>

                <div class="projets">
                    <img src="" alt="">
                    <h3>Nom de l'artiste4</h3>
                    <p>Nom du projet4</p>
                    <div class="description-hiden">
                        <p>description du projet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum voluptatem quae at, consequuntur accusamus aut nisi? Nesciunt odit minima delectus.</p>
                    </div>
                </div>

                <div class="projets">
                    <img src="" alt="">
                    <h3>Nom de l'artiste5</h3>
                    <p>Nom du projet5</p>
                    <div class="description-hiden">
                        <p>description du projet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum voluptatem quae at, consequuntur accusamus aut nisi? Nesciunt odit minima delectus.</p>
                    </div>
                </div>

            </div>
        </section>
        <section>    
            <h1>Sculpture</h1>
            <div class="slidershow-btn">
                <button class="prev" onclick="plusSlides(-1)">&#10094;</button>
                <button class="next" onclick="plusSlides(1)">&#10095;</button>
            </div>

            <div class="slidershow">

                <div class="projets">
                    <img src="" alt="">
                    <h3>Nom de l'artiste1</h3>
                    <p>Nom du projet1</p>
                    <div class="description-hiden">
                        <p>description du projet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum voluptatem quae at, consequuntur accusamus aut nisi? Nesciunt odit minima delectus.</p>
                    </div>
                </div>

                <div class="projets">
                    <img src="" alt="">
                    <h3>Nom de l'artiste2</h3>
                    <p>Nom du projet2</p>
                    <div class="description-hiden">
                        <p>description du projet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum voluptatem quae at, consequuntur accusamus aut nisi? Nesciunt odit minima delectus.</p>
                    </div>
                </div>

                <div class="projets">
                    <img src="" alt="">
                    <h3>Nom de l'artiste3</h3>
                    <p>Nom du projet3</p>
                    <div class="description-hiden">
                        <p>description du projet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum voluptatem quae at, consequuntur accusamus aut nisi? Nesciunt odit minima delectus.</p>
                    </div>
                </div>

                <div class="projets">
                    <img src="" alt="">
                    <h3>Nom de l'artiste4</h3>
                    <p>Nom du projet4</p>
                    <div class="description-hiden">
                        <p>description du projet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum voluptatem quae at, consequuntur accusamus aut nisi? Nesciunt odit minima delectus.</p>
                    </div>
                </div>

                <div class="projets">
                    <img src="" alt="">
                    <h3>Nom de l'artiste5</h3>
                    <p>Nom du projet5</p>
                    <div class="description-hiden">
                        <p>description du projet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum voluptatem quae at, consequuntur accusamus aut nisi? Nesciunt odit minima delectus.</p>
                    </div>
                </div>

            </div>
        </section>
    </main>
{% endblock %}
