{% extends 'base.html.twig' %}

{% block title %}Edit GestionCrudUsers{% endblock %}

{% block body %}
    <h1>Edit GestionCrudUsers</h1>

    {{ include('gestion_crud_users/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_gestion_crud_users_index') }}">back to list</a>

    {{ include('gestion_crud_users/_delete_form.html.twig') }}
{% endblock %}
