body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div, h1 ,h2 ,h3 ,ul ,li ,p ,a ,main ,section ,header ,footer,body{
    margin: 0;
    padding: 0;
}

 header{
    background-color: #c3c3c3;
    color: #000000;
    padding: 10px 20px;
    text-align: center;
 }

 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20%;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: x-large;
 }

#nav a {
  text-decoration: none;
  color: #000000;
  border-bottom: 2px solid transparent;
  transition: border-color 0.5s ease-in-out, color 0.3s ease-in-out;
}

#nav a:hover {
  color: #bbbbbb;
  border-bottom-color: #f0f0f0;
}

#Title_website{
    text-align: center;
    margin-top: 20px;
    font-size: 4em;
    color: #ffffff;
    font-family: Copperplate Gothic Light, sans-serif;
}

#Sign_Up {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
    color: #000000;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 3%;
    right: 5%;
}

 #Sign_Up a {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 2px solid transparent;
  transition: border-color 0.5s ease-in-out, color 0.3s ease-in-out;
 }

 #Sign_Up a:hover {
  color: #d7d7d7;
  border-bottom-color: #f0f0f0;
}